@import url("https://fonts.googleapis.com/css?family=Wendy+One");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, select, time, small {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  list-style: none; }

ul {
  list-style: none; }

li {
  list-style: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

button,
input[type="submit"] {
  cursor: pointer; }

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
select,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #EDEDED;
  color: steelblue; }

.App {
  text-align: center; }

.App-header {
  font-family: 'Wendy One', sans-serif;
  height: 200px;
  padding: 20px;
  color: steelblue;
  background-image: url("https://t4.ftcdn.net/jpg/00/99/18/85/240_F_99188502_DtGX9G7KqeQ80FrfEjugS1SWSXRxFDzJ.jpg");
  background-repeat: no-repeat;
  background-position-y: 40px;
  background-position: center 40px; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
button {
  border: none;
  color: cornsilk;
  padding: 15px 20px 15px 20px;
  background-color: rgba(188, 204, 82, 0.712);
  border-radius: 4px; }
  button:hover {
    background-color: #BCCC52; }
  button:active {
    background-color: #86942e; }

.lobby {
  display: flex;
  flex-flow: column;
  align-items: center; }
  .lobby .room-option {
    width: 200px; }
  .lobby .room-list {
    list-style: none; }
    .lobby .room-list li {
      display: inline-block;
      margin: 10px; }

.single-room {
  position: relative; }
  .single-room .player-list {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    background-color: aquamarine;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px; }
    .single-room .player-list li {
      margin: 0 20px; }
  .single-room .prompt-list {
    list-style: none;
    font-family: 'Wendy One', sans-serif; }

.instruction-greeting {
  text-transform: capitalize; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); }

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.display-block {
  display: block; }

.display-none {
  display: none; }

/*# sourceMappingURL=Master.css.map */
