// font-family: 'Lato', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Poppins', sans-serif;


html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, select, time, small {
  margin: 0;
  padding: 0;
  // border: 0;
  // outline: 0;
  font-family: sans-serif;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  list-style: none;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button,
input[type="submit"] {
  cursor: pointer;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
select,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
